<html>
<head>
</head>
<body>
</form>
<div style='float:right'>
<a href="/WelcomePage">Go Back</a><br/>
</div>
<form action = "/SearchMovie" name="form1" method ="post">
<div>
<p>Enter the below details to search for movies</p>
<input type="text" name="movieName" id="movieName" ></input> Movie Name<br/>
<input type="text" name="banner" id="banner" ></input> Banner<br/>
<input type="text" name="category" id="category" ></input> Category<br/>
<input type="submit" name="submit" value="Search"/>
</div>
</form>

<table border="2" border-collapse:collapse>
<tr padding:5px>
  <th padding:20px>Name</th>
  <th padding:20px>Banner</th>		
  <th padding:20px>Date</th>
  <th padding:20px>RentAmount</th>
  <th padding:20px>Category</th>
  <th padding:20px>NoOfCopies</th>
 </tr>
<% for(var i = 0; i < result.length; i++){ %>
<br/>
<tr>
<td><%= result[i].Name %></td>

<td><%= result[i].Banner %></td>

<td><%= result[i].Date %></td>

<td><%= result[i].rentamount %></td>

<td><%= result[i].Category %></td>

<td><%= result[i].noofcopies %><br/></td>
</tr>
<% } %>
</table>
</body>
</html>